#doc-info
	margin-top: 10px


//#doc-number


#doc-details
	border-left: 1px solid black
	border-bottom: 1px solid black

#main-edit-area
	margin-top: 10px
	
#outline
	background: blue
	
#sidebar
	background: yellow