
<script type="text/ng-template" id="comment-input-dialog">
  <div id="commentInputDialog">
    <div class="row">
      <h1>Neuer Kommentar</h1>
    </div>
    <div class="row">
      <form role="form">
        <label for="commentText">Kommentar</label>
        <textarea id="commentText" rows="10" cols="50" ng-model="newCommentText" class="form-control"></textarea>
      </form>
    </div>
    <div class="row">
      <div class="col-md-6">
        <button ng-click="closeThisDialog(newCommentText)" ng-disabled="false" class="detailactionbutton btn btn-success">Ok</button>
      </div>
      <div class="col-md-6">
        <button ng-click="closeThisDialog()" class="detailactionbutton btn btn-danger">Abbrechen</button>
      </div>
    </div>
  </div>
</script>
<div class="container-fluid">
  <div id="doc-info" ng-hide="fullscreen" class="row">
    <div id="doc-number" class="col-md-2">
      <h1>{{ currentDocument.key }}</h1>
      <h4 class="text-muted">Version: {{ currentDocument.version }}</h4>
    </div>
    <div id="doc-details" class="col-md-10">
      <div class="col-md-8">
        <h2>{{ currentDocument.patient.name }}</h2>
        <h3>geb. {{ currentDocument.patient.dob | date:'dd.MM.yyyy' }} ({{ currentDocument.patient.dob | fromNow }})</h3>
        <h2>{{ currentDocument.title }}</h2>
      </div>
      <div class="col-md-4">
        <div>Hauptgutachter: {{ currentDocument.headAuthor }}</div>
        <div data-toggle="buttons" class="sidebar-button btn-group">
          <label type="button" ng-class="{'active' : currentDocument.state=='ONGOING'}" class="state-radio btn btn-warning">
            <input type="radio" ng-model="currentDocument.state" value="ONGOING" ng-click="docStateChanged(value)"/>Offen
          </label>
          <label type="button" ng-class="{'active' : currentDocument.state=='FINISHED'}" class="state-radio btn btn-success">
            <input type="radio" ng-model="currentDocument.state" value="FINISHED" ng-click="docStateChanged(value)"/>Fertig
          </label>
        </div>
        <div class="btn-group doc-actions"><a ng-href="/preview/{{currentDocument._id}}" target="_blank" class="sidebar-button-half btn btn-default"><span class="glyphicon glyphicon-eye-open"></span></a><a ng-href="/download/word/{{currentDocument._id}}" target="_blank" class="sidebar-button-half btn btn-default"><span class="glyphicon glyphicon-file"></span></a></div>
        <div class="btn-group doc-actions">
          <button ng-click="newVersion(currentDocument)" class="sidebar-button-half btn btn-default">New Version</button>
          <button ng-click="diff(currentDocument)" class="sidebar-button-half btn btn-default">Diff</button>
        </div>
      </div>
    </div>
  </div>
  <div id="main-edit-area" class="row">
    <div id="outline" ng-hide="fullscreen" class="col-md-2">
      <div class="big-font">Gliederung</div>
      <ul id="chapter-list" ui-sortable="ui-sortable" ng-model="currentDocument.chapters" class="list-unstyled">
        <li ng-repeat="chapter in currentDocument.chapters" ng-click="selectChapter(chapter)" ng-class="{'chapter-selected' : chapter.selected, 'chapter-finished' : chapter.state=='FINISHED', 'chapter-ongoing' : chapter.state=='ONGOING'}" class="chapter-info"> 
          <div>{{ chapter.title }}</div>
          <div>{{ chapter.author }}</div>
          <div>{{ chapter.lastChanged | fromNow }}</div>
        </li>
      </ul>
      <input type="text" ng-model="newChapterTitle" placeholder="Titel" class="sidebar-button"/>
      <button id="new-chapter" ng-click="newChapter(currentDocument)" class="sidebar-button btn btn-default">Neues Kapitel</button>
    </div>
    <div id="edit" ng-class="{'col-md-8': !fullscreen, 'col-md-12': fullscreen}" class="no-gutter">
      <text-angular ng-model="currentChapter.content" ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','ul','ol','undo','redo','clear'],['justifyLeft','justifyCenter','justifyRight','indent','outdent'],['addComment']]"></text-angular>
    </div>
    <div id="sidebar" ng-hide="fullscreen" class="col-md-2">
      <div class="big-font">Kommentare</div>
      <ul id="comments-list" class="list-unstyled">
        <li ng-repeat="comment in currentChapter.comments" ng-click="selectComment(comment)" ng-class="{'comment-selected' : comment.selected}" class="comment-info"> 
          <div> <span>{{ comment.author }}</span><span ng-click="deleteComment(comment)" class="glyphicon glyphicon-remove pull-right"></span></div>
          <div class="inset"><span class="small">{{ comment.text }}</span><span ng-click="editComment(comment)" class="glyphicon glyphicon-pencil pull-right"></span></div>
          <div class="inset"><span class="invisible-text">.</span><span class="small text-muted pull-right">{{ comment.created | fromNow}}</span></div>
        </li>
      </ul>
    </div>
  </div>
</div>