
<div class="container-fluid">
  <div id="doc-info" class="row">
    <div id="doc-number" class="col-md-2">
      <h1>{{ currentDocument.key }}</h1>
    </div>
    <div id="doc-details" class="col-md-10">
      <h2>{{ currentDocument.patient.name }}</h2>
      <h3>geb. {{ currentDocument.patient.dob }} (x Jahre)</h3>
      <h2>{{ currentDocument.title }}</h2>
    </div>
  </div>
  <div id="main-edit-area" class="row">
    <div id="outline" class="col-md-2">
      <h3>Gliederung</h3>
      <ul ui-sortable="ui-sortable" ng-model="currentDocument.chapters">
        <li ng-repeat="chapter in currentDocument.chapters" ng-click="selectChapter(chapter)" ng-class="{'chapter_selected' : chapter.selected}" class="chapter_info"> 
          <div>{{ chapter.title }}</div>
          <div>{{ chapter.author.name }}</div>
          <div>{{ chapter.state }}</div>
          <div>{{ chapter.version }}</div>
          <div>{{ chapter.lastChanged }}</div>
        </li>
      </ul>
    </div>
    <div id="edit" class="col-md-8">
      <text-angular ng-model="currentChapter.content" ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','ul','ol','undo','redo','clear'],['justifyLeft','justifyCenter','justifyRight','indent','outdent']]"></text-angular>
    </div>
    <div id="sidebar" class="col-md-2">
      <h3>Dokumenten-Info
        <div>{{ currentDocument.headAuthor.name }}</div>
        <div>{{ currentDocument.state }}</div>
      </h3>
      <h3>Kommentare</h3>
      <ul ui-sortable="ui-sortable" ng-model="currentChapter.comments">
        <li ng-repeat="chapter in currentChapter.comments"> 
          <div>{{ chapter.author.name }}</div>
          <div>{{ chapter.text }}</div>
          <div>{{ chapter.created }}</div>
        </li>
      </ul>
    </div>
  </div>
</div>