.container-fluid
	#doc-info.row(ng-hide="fullscreen")
		#doc-number.col-md-2
			h1 {{ currentDocument.key }}

		#doc-details.col-md-10
			h2 {{ currentDocument.patient.name }}
			h3 geb. {{ currentDocument.patient.dob }} (x Jahre)

			h2 {{ currentDocument.title }}

	#main-edit-area.row
		#outline.col-md-2(ng-hide="fullscreen")
			.big-font Gliederung
			ul#chapter-list.list-unstyled(ui-sortable ng-model="currentDocument.chapters")
				li.chapter-info(ng-repeat="chapter in currentDocument.chapters", ng-click="selectChapter(chapter)", ng-class="{'chapter-selected' : chapter.selected, 'chapter-finished' : chapter.state=='FINISHED', 'chapter-ongoing' : currentChapter.state=='ONGOING'}") 
					div {{ chapter.number }}
					div {{ chapter.title }}
					div {{ chapter.author.name }}
					div {{ chapter.version }}
					div {{ chapter.lastChanged }}
			button.btn.btn-default(ng-click="newChapter(currentDocument)") Neues Kapitel

		#edit.no-gutter(ng-class="{'col-md-8': !fullscreen, 'col-md-12': fullscreen}")
			text-angular(ng-model="currentChapter.content", ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','ul','ol','undo','redo','clear'],['justifyLeft','justifyCenter','justifyRight','indent','outdent']]")

		#sidebar.col-md-2(ng-hide="fullscreen")
			.big-font Informationen
			div {{ currentDocument.headAuthor.name }}
			div.btn-group(data-toggle="buttons")
				label.btn.btn-warning(type="button", ng-class="{'active' : currentChapter.state=='ONGOING'}")
					input(type="radio")
					| Offen
				label.btn.btn-success(type="button", ng-class="{'active' : currentChapter.state=='FINISHED'}")
					input(type="radio")
					| Fertig
			div
				button.btn.btn-default(ng-click="showPreview(currentDocument)") Vorschau
			div
				button.btn.btn-default(ng-click="downloadWord(currentDocument)") Download

			.big-font Kommentare
			ul#comments-list.list-unstyled(ui-sortable ng-model="currentChapter.comments")
				li.comment-info(ng-repeat="comment in currentChapter.comments") 
					div {{ comment.author.name }}
					div {{ comment.text }}
					div {{ comment.created }}
			button.btn.btn-default(ng-click="newComment(currentChapter)") Neuer Kommentar

