.container-fluid
  #doc-info.row
    #doc-number.col-md-2
      h1 12345678

    #doc-details.col-md-10
      h2 Herr Jolien Pöge
      h3 geb. 01.08.2007 (7 Jahre)

      h2 Fall Dokumentation

  #main-edit-area.row
    #outline.col-md-2
      h3 Gliederung

    #edit.col-md-8
      text-angular(ng-model="chapter", ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','ul','ol','undo','redo','clear'],['justifyLeft','justifyCenter','justifyRight','indent','outdent']]")

    #sidebar.col-md-2
      h3 Details

      h3 Kommentare
